
.filters {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 15px 10px 5px;
	gap: 10px 20px;
	width: 100%;

	> div {
		display: flex;
		align-items: center;
		gap: 8px;

		label {
			font-size: 16px;
			font-weight: 600;
		}

		select {
			font-size: 16px;
			font-weight: 500;
			border: 1px solid #ccc;
			border-radius: 5px;
			background-color: #f9f9f9;
			cursor: pointer;
			color: #111;


		}
		
		select {
			padding: 6px 8px;
			border-radius: 6px;
			border: 1px solid #ccc;
			background-color: #f9f9f9;
			color: #111;
			appearance: none;
			-webkit-appearance: none;

			&:focus {
				outline: none;
			}
		}
	}
}


.filter-toggle-button {
	display: none;
}


.filter-sidebar {
	display: none;
}


.close-sidebar-button {
	display: none;
}


.theme-toggle-button {
	padding: 5px;
	border: none;
	display: flex;
	cursor: pointer;
	background: none;
	border-radius: 50%;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
}


body[data-theme='dark'] {
	.filters > div > select {
		color: #eee;
		border-color: #555;
		background-color: #333;
	}

	.theme-toggle-button {
		img {
			filter: invert(1);
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}


@media (max-width: 768px) {

	.filter-toggle-button {
		display: block;
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: 1000;
		padding: 10px 15px;
		background-color: var(--background);
		color: var(--foreground);
		border: 1px solid var(--foreground);
		border-radius: 5px;
		cursor: pointer;
	}

	.filters {
		display: none;
	}

	.filter-sidebar.open {
		left: 0;
	}
	
	.filter-sidebar {
		top: 0;
		left: -300px;
		width: 250px;
		height: 100%;
		padding: 20px;
		z-index: 1001;
		display: flex;
		position: fixed;
		overflow-y: auto;
		transition: left 0.5s ease-in-out;
		background-color: var(--background);
		box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
		
		.filters {
			flex-direction: column;
			margin: 50px 0 0 0;
			display: flex;
			gap: 15px;

			> div {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;

				label {
					font-size: 14px;
					font-weight: 500;
				}

				select {
					width: 60%;
					font-size: 14px;
					padding: 5px;
				}
			}
		}
	}

	.close-sidebar-button {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		background: none;
		border: none;
		font-size: 30px;
		cursor: pointer;
		color: var(--foreground);
	}

	.theme-toggle-button {
		display: none;
	}	
}
