
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif, Helvetica, sans-serif, Verdana, sans-serif,
		"Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: var(--background);
	color: var(--foreground);
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
	height: 100vh;
	width: 100vw;
	gap: 10px;
}

.map {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}


.filters {
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
	gap: 20px;
	
	& > div {
		display: flex;
		align-items: center;
		gap: 10px;
		
		& > label {
			font-size: 16px;
			font-weight: 600;
		}
		
		& > select, & > input {
			font-size: 16px;
			font-weight: 500;
			padding: 5px;
			border-radius: 5px;
			border: 1px solid #ccc;
			background-color: #f9f9f9;
			color: #111;
			cursor: pointer;
			
			&:focus {
				outline: none;
			}
		}
	}

	.theme-toggle-button {
		background: none;
		border: none;
		cursor: pointer;
		padding: 5px;
		border-radius: 50%;
		display: flex;
		margin-left: auto;
		align-items: center;
		justify-content: center;
		transition: background-color 0.2s;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}


$popup-size: 300px;


.popup {
	width: $popup-size;
	height: $popup-size;
	padding: 0 !important;
	margin-bottom: 20px;
}


.popup-inner {
	& > b {
		font-size: 16px;
		font-weight: bold;
	}
	
	& > span {
		font-size: 13px;
		color: #666;
	}
	
	& > img {
		border-radius: 5px;
		cursor: pointer;
		width: 100%;
	}
}



.skeleton-filters {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 50px;
  align-items: center;
}

.skeleton-filter-item {
  height: 35px;
  width: 200px;
  background: #e0e0e0;
  border-radius: 5px;
}

.skeleton-map {
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  border-radius: 5px;
}

body[data-theme='dark'] {
	.filters {
		& > div {
			& > select, & > input {
				background-color: #333;
				color: #eee;
				border-color: #555;
			}
		}

		.theme-toggle-button {
			img {
				filter: invert(1);
			}

			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}
		}
	}

	.popup-inner {
		background-color: #222;
		color: #eee;

		& > span {
			color: #aaa;
		}
	}
}

